@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="text-center">
    <h1>Add a New Engineer</h1>
</div>


<div class="container">
    @using (Html.BeginForm())
    {
        <div class="text-center">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.EngineerName)</label>
                @Html.TextBoxFor(model => model.EngineerName, new { @class = "form-control" })
                <p class="text-danger">@Html.ValidationMessageFor(model => model.EngineerName)</p>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Add New Engineer</button>
        </div>
    }
</div>



<div class="text-center container mt-5">
    <div class="link-container">
        <p>@Html.ActionLink("Back to All Engineers", "Index", null, new { @class = "btn btn-secondary" })</p>
    </div>
</div>