@{
    Layout = "_Layout";
}

@using Factory.Models;

<div class="container">
    <h1>Engineers</h1>
</div>
<hr />

<div class="container">
    @if (Model.Count == 0)
    {
        <p>No engineers have been added.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Engineer Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Engineer engineer in Model)
                {
                    <tr>
                        <td>@engineer.EngineerName</td>
                        <td>@Html.ActionLink("Details", "Details", new { id = engineer.EngineerId })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<hr />

<div class="link-container">
    @Html.ActionLink("Add New Engineer", "Create", "Engineers", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-secondary" })
</div>
